{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Change Password</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="{% static 'assets/images/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'assets/images/icons/favicon.ico' %}" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {

            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            });

            $('.del').click(function(event) {
                event.preventDefault();
                var notificationId = $(this).data('notification-id');
                var notificationElement = $(event.target).closest('.notification');
                $.ajax({
                    url: $(this).data('url'),
                    type: 'POST',
                    dataType: 'json',
                    success: function(response) {
                        if (response.status === 'ok') {
                            notificationElement.remove();
                        }
                    }
                });
            });
        });
    </script>



</head>

<body>
    <div class="wrapper">
        <div class="header-logo-signin">
            <div class="header-logo">
                <a href="/"><img src="{% static 'assets/images/refoutgreen.png' %}" class="logo-img"></a>
            </div>

        </div>
        <div class="signin-section">
            <div class="title">Reset password</div>
            <div class="message">{% for message in messages%}
                <h8>{{message}}</h8>
                {% endfor %} </div>
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="form-group">
                      <label for="id_new_password1">New password</label>
                      <input class="form-control" type="password" name="new_password1" required placeholder="Enter your new password">
                    </div>
                    
                    <div class="form-group">
                      <label for="id_new_password2">Confirm new password</label>
                      <input class="form-control" type="password" name="new_password2" required placeholder="Confirm your new password">
                    </div>
                    
                    <input type="hidden" name="uid" value="{{ uid }}">
                    
                    <button type="submit" class="btn" style="margin-bottom: 10px;">Change Password</button>
                  </form>
                  
        </div>



    </div>
    </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>