{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Upload</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <div class="header-logo-signin">
            <div class="header-logo">
                <a href="/"><img src="{% static 'assets/images/refoutgreen.png' %}" class="logo-img"></a>
            </div>

        </div>
        <div class="signin-section">
            <div class="title">Reset password</div>
            {% if email_sent %}          
            <h8>An email with password reset instructions has been sent to {{ email }}. Please check your email.</h8>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Email</label>
                    <input class="form-control" type="text" name="email" required="required" placeholder="Enter your email">
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>

            <div class="signup-link">

                <a href="/signin"> Go back</a>
            </div>
        </div>



    </div>
    </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>