{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Profile</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'assets/images/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'assets/images/icons/favicon.ico' %}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <style>
        .banner-section .content {
            background-image: url({{user_profile.profile_banner.url}});
            background-position: top;
            background-size: 100% 60%;
            background-repeat: no-repeat;
            padding: 100px 20px 9px 20px;
            text-align: center;
        }
        
        .header-profile {
            margin-left: auto;
        }
        
        .modal-body {
            min-height: 400px;
            max-height: 400px;
            overflow-y: auto;
        }
        .modal-content{
            border-radius: 30px;
        }
      
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="header justify-content-center">
            <div class="header-logo">
                <a href="/"><img src="{% static 'assets/images/refoutgreen.png' %}" class="logo-img"></a>
            </div>
            <div class="header-profile">
                {% if admin.is_superuser %}
                <a href="/admin"><img src="{% static 'assets/images/icons/admin.svg' %}" class="admin-icon"></a> {% endif %} &nbsp;&nbsp;&nbsp;
                <a href="/logout"><img src="{% static 'assets/images/icons/logout.svg' %}" class="logout-icon"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <div class="banner-section">
            <div class="content">

                <div class="pro-img"><img src="{{user_profile.profile_picture.url}}"></div>
                <form method="POST" action="/follow">
                    <h5>{{user_profile.user.username}}</h5>
                    <div class="code-container">
                        {% csrf_token %} {% if user_followers == 0 or user_followers == 1 %}
                        <div class="text">
                            {% if user_followers > 0 %}
                            <a style="cursor: default;" class="text followersBtnEnabled" id="followersBtn"><strong>{{ user_followers }}</strong> follower</a>
                            {% else %}
                            <a style="cursor: default;" class="text followersBtnDisabled" id="followersBtn"><strong>{{ user_followers }}</strong> follower</a>
                            {% endif %}
                        </div>&nbsp;&nbsp;
                        {% else %}
                        <div class="text">
                            {% if user_followers > 0 %}
                            <a style="cursor: default;" class="text followersBtnEnabled" id="followersBtn"><strong>{{ user_followers }}</strong> followers</a>
                            {% else %}
                            <a style="cursor: default;" class="text followersBtnDisabled" id="followersBtn"><strong>{{ user_followers }}</strong> followers</a>
                            {% endif %}
                        </div>&nbsp;&nbsp;
                        {% endif %}
                        
                        <div class="text">
                            {% if user_following > 0 %}
                            <a style="cursor: default;" class="text followingBtnEnabled" id="followingBtn"><strong>{{ user_following }}</strong> following</a>
                            {% else %}
                            <a style="cursor: default;" class="text followingBtnDisabled" id="followingBtn"><strong>{{ user_following }}</strong> following</a>
                            {% endif %}
                        </div>&nbsp;&nbsp;
                        <div style="cursor: default;" class="text"><strong>{{ user_profile.get_posts_no }}</strong> Posts</div>&nbsp;&nbsp;
                        <div style="cursor: default;" class="text"><strong>{{ user_profile.get_likes_recieved_no }}</strong> likes</div>{% if request.user.is_authenticated and user_profile.user == request.user %}
                    </div>

                    <div class="text">{{ user_profile.bio }}</div>

                    <div class="button"><a href="/settings" class="btn btn-main">Settings</a></div>{% else %}
                    <input type="hidden" name="follower" value="{{ request.user.profile.id }}">
                    <input type="hidden" name="user" value="{{ user_profile.id }}">
                    <input type="hidden" name="userurl" value="{{ user_profile }}">
            </div>

            <br>
            <div class="button"><button class="btn btn-main" type="submit" id="follow-button">{{ text }}</button> </div>{% endif %}
            </form>
        </div>
    </div>
    <div class="contain-section">
        <div class="row mx-auto w-100">
            {% for post in user_profile.get_all_posts reversed%}
            <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                <div class="main-img">
                    <div class="img">
                        <a href="/p/{{post.id}}"><img src="{{ post.image.url }}"></a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="footer-section">
        <div class="footer ">
            <a href="/search " class="footer-search ">
                <div class="img "><img src="{% static 'assets/images/icons/search.svg' %} "></div>
            </a>
            <a href="/upload " class="footer-plus ">
                <div class="img "><img src="{% static 'assets/images/icons/plus.svg' %} "></div>
            </a>
            <a href="/notifications" class="footer-bell ">
                <div class="img "><img src="{% static 'assets/images/icons/bell.svg' %} "></div>
            </a>
        </div>
    </div>
    </div>
    <!-- Following Modal -->
    <div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="followingModalLabel"aria-hidden="true">    
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="followingModalLabel">Following</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <!-- Display the list of users who are following the current account -->
            {% for following_user in user_following_list %}
            <a href="{% url 'app:profile'  following_user.user.username %}">
            <div class="user" style="border-bottom: 1px solid #B38B5A; padding: 10px">
                <div class="profile-picture">
                    <img src="{{ following_user.profile_picture.url }}" alt="Profile Picture" style="border-radius: 50%; max-height: 40px; max-width: 40px;">
                </div>&nbsp; &nbsp;
                <div class="username">
                    {{ following_user.user.username }}
                </div>
            </div>
            </a>
            {% endfor %}
            </div>
        </div>
        </div>
    </div>
  
  <!-- Follower Modal -->
  <div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="followersModalLabel" aria-hidden="true">    
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="followersModalLabel">Followers</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Display the list of users who are followers of the current account -->
          {% for follower in user_followers_list %}
          <a href="{% url 'app:profile' follower.follower.user.username %}">
          <div class="user" style="border-bottom: 1px solid #B38B5A; padding: 10px">
            <div class="profile-picture">
                <img src="{{ follower.follower.profile_picture.url }}" alt="Profile Picture" style="border-radius: 50%; max-height: 40px; max-width: 40px; ">
            </div> &nbsp; &nbsp;
            <div class="username">
                {{ follower.follower.user.username }}
            </div>
        </div>
        </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
          // Check if the "View All" buttons are enabled and bind click event handlers accordingly
          if ($('.followersBtnEnabled').length) {
            $('#followersBtn').click(function () {
              $('#followersModal').modal('show');
            });
          }
      
          if ($('.followingBtnEnabled').length) {
            $('#followingBtn').click(function () {
              $('#followingModal').modal('show');
            });
          }
        });
      </script>
</body>

</html>