{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>{{user_profile.user.username}} | REFOUT</title>
    <link rel="icon" href="{% static 'images/fav.png' %}" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#follow-button').click(function(e) {
                console.log('test');
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/follow',
                    data: {
                        'follower': '{{follower.id}}',
                        'user': '{{user_profile.user.id}}',
                        'user_object': '{{user_object}}',
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function(response) {
                        if (response['status'] === 'following') {
                            $('#follow-button').text('Unfollow');
                        } else {
                            $('#follow-button').text('Follow');
                        }
                    },
                    error: function(response) {
                        console.log(response);
                    }
                });
            });
        });
    </script> -->

</head>

<body>
    <!--<div class="se-pre-con"></div>-->
    <div class="theme-layout">

        <div class="responsive-header">
            <div class="mh-head first Sticky">
                <span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
                <span class="mh-text">
				<a href="/" title=""><img src="{% static 'images/logo.png' %}" alt=""></a>
			</span>
                <span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
            </div>
            <div class="mh-head second">
                <form class="mh-form">
                    <input placeholder="search" />
                    <a href="#/" class="fa fa-search"></a>
                </form>
            </div>


        </div>
        <!-- responsive header -->

        <div class="topbar stick">
            <div class="logo">
                <a title="" href="/"><img src="{% static 'images/logo.png' %}" alt=""></a>
            </div>

            <div class="top-area">

                <ul class="setting-area">
                    <li>
                        <a href="/post"><i class="ti-plus"></i></a>
                    </li>
                    <li>
                        <a href="#" title="Home" data-ripple=""><i class="ti-search"></i></a>
                        <div class="searched">
                            <form method="post" class="form-search">
                                <input type="text" placeholder="Search Friend">
                                <button data-ripple><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </li>
                    <li><a href="newsfeed.html" title="Home" data-ripple=""><i class="ti-home"></i></a></li>
                    <li>
                        <a href="/notifications" title="Notification" data-ripple="">
                            <i class="ti-bell"></i>
                        </a>
                    </li>


                </ul>
                <div class="user-img">
                    <a target="_blank" href="/profile">
                        <img src="{{user_profile.profile_picture.url}}" alt="">
                        <span class="status f-online"></span></a>

                </div>
            </div>
        </div>
        <!-- topbar -->

        <section>
            <div class="feature-photo">
                <figure><img src="{% static 'images/resources/timeline-1.jpg' %}" alt=""></figure>
                <form method="POST" action="/follow">
                    {% csrf_token %}
                    <div class="add-btn">
                        {% if user_followers == 0 or user_followers == 1 %}
                        <span>{{ user_followers }} follower</span> {% else %}
                        <span>{{ user_followers }} followers</span> {% endif %}
                        <span>{{ user_following }} following</span>
                        <span>Posts: {{ user_profile.get_posts_no }}</span>
                        <span>Likes: {{ user_profile.get_likes_recieved_no }}</span>{% if request.user.is_authenticated and user_profile.user == request.user %}
                        <a href="/settings">Settings</a> {% else %}
                        <input type="hidden" name="follower" value="{{ request.user.profile.id }}">
                        <input type="hidden" name="user" value="{{ user_profile.id }}">
                        <input type="hidden" name="userurl" value="{{ user_profile }}">
                        <button type="submit" id="follow-button">{{ text }}</button> {% endif %}
                    </div>
                </form>

                <div class="container-fluid">
                    <div class="row merged">
                        <div class="col-lg-2 col-sm-3">
                            <div class="user-avatar">
                                <figure>
                                    <img src="{{user_profile.profile_picture.url}}" alt="">

                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-10 col-sm-9">
                            <div class="timeline-info">
                                <ul>
                                    <li class="admin-name">
                                        <h5>{{user_profile.user.username}}</h5>

                                    </li>
                                    <li>
                                        <a class="active" href="timeline-photos.html" title="" data-ripple="">Photos</a>
                                        <a class="" href="timeline-friends.html" title="" data-ripple="">Friends</a>
                                        <a class="" href="about.html" title="" data-ripple="">likes</a>
                                        <a class="" href="#" title="" data-ripple="">more</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- top area -->

        <section>
            <div class="gap gray-bg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row" id="page-contents">
                                <div class="col-lg-3">
                                    <aside class="sidebar static">



                                    </aside>
                                </div>
                                <!-- sidebar -->
                                <div class="col-lg-6">
                                    <div class="central-meta">
                                        <ul class="photos">
                                            {% for post in user_profile.get_all_posts %}
                                            <li>
                                                <a href="{% url 'app:post_detail' post.id %}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
                                                    <img src="{{ post.image.url }}" style="height: 250px; width: 300px;" alt="">
                                                </a>
                                            </li>
                                            {% endfor %}

                                        </ul>

                                    </div>
                                    <!-- photos -->
                                </div>
                                <!-- centerl meta -->
                                <div class="col-lg-3">

                                </div>
                                <!-- sidebar -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-4">
                        <div class="widget">
                            <div class="foot-logo">
                                <div class="logo">
                                    <a href="index-2.html" title=""><img src="{% static 'images/logo.png' %}" alt=""></a>
                                </div>

                            </div>
                            <ul class="location">

                                <li>
                                    <i class="ti-mobile"></i>
                                    <p>a2736@ead-aerbp.pt</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Navigate</h4>
                            </div>
                            <ul class="list-style">
                                <li><a href="about.html" title="">Home</a></li>
                                <li><a href="contact.html" title="">Notifications</a></li>
                                <li><a href="terms.html" title="">Profile</a></li>
                                <li><a href="#" title="">About us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>download apps</h4>
                            </div>
                            <ul class="colla-apps">
                                <li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i>android</a></li>
                                <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i>IOS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer -->
        <div class="bottombar">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <span class="copyright"><a target="_blank">© Copyright, Fábio Antunes</a></span>

                    </div>
                </div>
            </div>
        </div>


</body>


</html>