{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Settings</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            });

            $('.del').click(function (event) {
                event.preventDefault();
                var notificationId = $(this).data('notification-id');
                var notificationElement = $(event.target).closest('.notification');
                $.ajax({
                    url: $(this).data('url'),
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        if (response.status === 'ok') {
                            notificationElement.remove();
                        }
                    }
                });
            });
        });
    </script>
    <script>
        function previewProfilePicture(event) {
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('profile-picture-preview').src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }

        }

        function validateImageDimensions(event, imageType) {
            var input = event.target;
            if (input.files && input.files[0]) {
                var img = new Image();
                img.onload = function () {
                    var minWidth, minHeight;
                    if (imageType === 'profile') {
                        minWidth = 200;
                        minHeight = 200;
                    } else if (imageType === 'banner') {
                        minWidth = 1546;
                        minHeight = 423;
                    }

                    if (img.width < minWidth || img.height < minHeight) {
                        alert("Please choose an image with dimensions not lower than " + minWidth + "x" + minHeight);
                        input.value = ""; // Reset the file input
                    } else {
                        // No resizing needed, show the original image as the preview
                        if (imageType === 'profile') {
                            document.getElementById('profile-picture-preview').src = URL.createObjectURL(input.files[0]);
                        } else if (imageType === 'banner') {
                            document.getElementById('banner-image-preview').src = URL.createObjectURL(input.files[0]);
                        }
                    }
                };
                img.src = URL.createObjectURL(input.files[0]);
            }
        }

    </script>
    <script>
        function previewBannerImage(event) {
            var input = event.target;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('banner-image-preview').src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }

        }
    </script>

</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-logo">
                <a href=""><img src="{% static 'assets/images/refoutgreen.png' %}" class="logo-img"></a>
            </div>
            <div class="header-profile">
                {% if user.is_superuser %}
                <a href="/admin"><img src="{% static 'assets/images/icons/admin.svg' %}" class="admin-icon"></a> {% endif %} &nbsp;&nbsp;&nbsp;
                <a href="/logout"><img src="{% static 'assets/images/icons/logout.svg' %}" class="logout-icon"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/profile/{{user_profile.user.username}}"><img src="{{user_profile.profile_picture.url}}" class="profile-img"></a>
            </div>

        </div>
        <div class="settings-section">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="image-settings">
                    <div class="profile">
                        <img src="{{ user_profile.profile_picture.url }}" class="profile-img" style="max-width: 100px; width: 100px; max-height: 100px; height: 100px;" id="profile-picture-preview" onclick="document.getElementById('image').click()">
                        <p>Click on the image to change the profile picture</p>
                        <input type="file" name="image" id="image" style="display: none;" accept="image/jpeg, image/png"
                            onchange="validateImageDimensions(event, 'profile')"> {% if messages %} {% endif %}
                    </div>
                    <div class="banner" style="text-align: -webkit-center;"> <div  style="max-width: 700px; max-height: 300px; margin-bottom: 1px;"> <img src="{{ user_profile.profile_banner.url }}" style="width: 100%; max-height: 300px;" id="banner-image-preview" onclick="document.getElementById('banner-image-input').click()"></div>
                        <p>Click on the image to change the banner</p>
                        <input type="file" name="banner_image" id="banner-image-input" style="display: none;"
                            accept="image/jpeg, image/png" onchange="validateImageDimensions(event, 'banner')"> {% if messages %} {% endif %}
                    </div>
                    <div>
                        <h6>Username:</h6>
                        <input class="settings-input" type="text " id="username" name="username"
                            value="{{ user.username }}">
                        <h6>Biography:</h6>
                        <input class="settings-input" type="text" id="bio" name="bio"
                            value="{{ user_profile.bio|default:'' }}">
                        <h6>First Name:</h6>
                        <input class="settings-input" type="text" id="first_name" name="first_name"
                            value="{{ user_profile.first_name|default:'' }}">
                        <h6>Last Name:</h6>
                        <input class="settings-input" type="text" id="last_name" name="last_name"
                            value="{{ user_profile.last_name|default:'' }}">
                        <h6>Email:</h6>
                        <input class="settings-input" type="text" id="email" name="email" value="{{ user.email }}">
                        <h6>Country:</h6>
                        <input class="settings-input" type="text" id="country" name="country"
                            value="{{ user_profile.country|default:'' }}">
                        </br>
                        </br>
                    </div>
                    {% for message in messages %} {{ message }}
                    </br>{% endfor %}</br>
                    </br>

                    <div> <a class="btn btn-main" style="color: black; margin-bottom: 10px;" href="change_password">
                            Change password </a></div>

                    <button class="btn btn-main" type="submit" style="margin-bottom: 10px;">Save Changes</button>
            </form>

        </div>



    </div>
    </div>
    <div class="footer-section ">
        <div class="footer ">
            <a href="# " class="footer-search ">
                <div class="img "><img src="{% static 'assets/images/icons/search.svg' %} "></div>
            </a>
            <a href="# " class="footer-plus ">
                <div class="img "><img src="{% static 'assets/images/icons/plus.svg' %} "></div>
            </a>
            <a href="# " class="footer-bell ">
                <div class="img "><img src="{% static 'assets/images/icons/bell.svg' %} "></div>
            </a>
        </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "></script>


</body>

</html>