 {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>REFOUT</title>
    <link rel="icon" href="{% static 'images/fav.png' %}" type="image/png" sizes="16x16">

    <script src="{% static 'js/size.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
        $(document).ready(function() {
            console.log("test")
            var max_fields = 6; // Maximum number of fields allowed
            var count = 1; // Initial field count
            $('#add-field').click(function(e) {
                e.preventDefault();
                if (count < max_fields) { // Check if the maximum number of fields is reached
                    count++;
                    $('#container').append('<div><select name="category"><option value="pants">Pants</option><option value="t_shirt">T-Shirt</option><option value="jacket">Jacket</option><option value="hat">Hat</option><option value="shorts">Shorts</option><option value="shirt">Shirt</option><option value="belt">Belt</option><option value="shoes">Shoes</option><option value="watch">Watch</option><option value="necklace">Necklace</option><option value="ring">Ring</option><option value="earring">Earring</option><option value="bag">Bag</option></select><input type="text" name="descriptions" placeholder="Reference.." required /><button class="remove-field">Remove</button></div>');
                }
            });
            $('#container').on('click', '.remove-field', function(e) {
                e.preventDefault();
                $(this).parent('div').remove();
                count--;
            });
        });
    </script>
</head>

<body>
    <!--<div class="se-pre-con"></div>-->
    <div class="theme-layout">

        <div class="responsive-header">
            <div class="mh-head first Sticky">
                <span class="mh-btns-left">
          <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
        </span>
                <span class="mh-text">
          <a href="/" title=""><img src="{% static 'images/logo.png' %}" alt=""></a>
        </span>
                <span class="mh-btns-right">
          <a class="fa fa-sliders" href="#shoppingbag"></a>
        </span>
            </div>
            <div class="mh-head second">
                <form class="mh-form">
                    <input placeholder="search" />
                    <a href="#/" class="fa fa-search"></a>
                </form>
            </div>


        </div>
        <!-- responsive header -->

        <div class="topbar stick">
            <div class="logo">
                <a title="" href="/"><img src="{% static 'images/logo.png' %}" alt=""></a>
            </div>

            <div class="top-area">

                <ul class="setting-area">
                    <li>
                        <a href="/post"><i class="ti-plus"></i></a>
                    </li>
                    <li>
                        <a href="#" title="Home" data-ripple=""><i class="ti-search"></i></a>
                        <div class="searched">
                            <form class="form-search">
                                <input type="text" placeholder="Search Friend">
                                <button data-ripple><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </li>
                    <li><a href="newsfeed.html" title="Home" data-ripple=""><i class="ti-home"></i></a></li>
                    <li>
                        <a href="/notifications" title="Notification" data-ripple="">
                            <i class="ti-bell"></i>
                        </a>
                    </li>


                </ul>
                <div class="user-img">
                    <a target="_blank" href="/profile">
                        <img src="{{user_profile.profile_picture.url}}" alt="">
                        <span class="status f-online"></span></a>

                </div>
            </div>
        </div>
        <!-- topbar -->

        <section>
            <div class="gap gray-bg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row" id="page-contents">
                                <div class="col-lg-3">
                                    <aside class="sidebar static">


                                    </aside>
                                </div>
                                <!-- sidebar -->
                                <div class="col-lg-6">

                                    <ul class="colla-apps">

                                    </ul>
                                    <div class="central-meta item">
                                        <div class="user-post">
                                            <form method="POST" action="upload" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input type="file" id="image" name="image" accept="image/*" required>
                                                <textarea name="description" placeholder="Description.." cols=" 10 " rows="5"></textarea>
                                                <div id="container">
                                                    <label for="category">Category:</label>
                                                    <select name="category" id="category" required>
                                                        <option value="pants">Pants</option>
                                                        <option value="t_shirt">T-Shirt</option>
                                                        <option value="jacket">Jacket</option>
                                                        <option value="hat">Hat</option>
                                                        <option value="shorts">Shorts</option>
                                                        <option value="shirt">Shirt</option>
                                                        <option value="belt">Belt</option>
                                                        <option value="shoes">Shoes</option>
                                                        <option value="watch">Watch</option>
                                                        <option value="necklace">Necklace</option>
                                                        <option value="ring">Ring</option>
                                                        <option value="earring">Earring</option>
                                                        <option value="bag">Bag</option>
                                                    </select>
                                                    <textarea name="descriptions" placeholder="Reference.." cols=" 10 " rows="1" required></textarea>
                                                    <select name="category" id="category" required>
                                                        <option value="pants">Pants</option>
                                                        <option value="t_shirt">T-Shirt</option>
                                                        <option value="jacket">Jacket</option>
                                                        <option value="hat">Hat</option>
                                                        <option value="shorts">Shorts</option>
                                                        <option value="shirt">Shirt</option>
                                                        <option value="belt">Belt</option>
                                                        <option value="shoes">Shoes</option>
                                                        <option value="watch">Watch</option>
                                                        <option value="necklace">Necklace</option>
                                                        <option value="ring">Ring</option>
                                                        <option value="earring">Earring</option>
                                                        <option value="bag">Bag</option>
                                                    </select>
                                                    <textarea name="descriptions" placeholder="Reference.." cols=" 10 " rows="1" required></textarea>

                                                </div>
                                                <button id="add-field" type="buttton">Add fields</button>

                                                <br>

                                                <input type="submit"></input>
                                            </form>




                                        </div>
                                    </div>

                                </div>
                            </div>
        </section>

        <footer>
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-5 col-md-4 ">
                        <div class="widget ">
                            <div class="foot-logo ">
                                <div class="logo ">
                                    <a href="index-2.html " title=" "><img src="{% static 'images/logo.png ' %} " alt=" "></a>
                                </div>

                            </div>
                            <ul class="location ">

                                <li>
                                    <i class="ti-mobile "></i>
                                    <p>a27360@ead-aerbp.pt</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 ">
                        <div class="widget ">
                            <div class="widget-title ">
                                <h4>Navigate</h4>
                            </div>
                            <ul class="list-style ">
                                <li><a href="about.html " title=" ">Home</a></li>
                                <li><a href="contact.html " title=" ">Notifications</a></li>
                                <li><a href="terms.html " title=" ">Profile</a></li>
                                <li><a href="# " title=" ">About us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 ">
                        <div class="widget ">
                            <div class="widget-title ">
                                <h4>download app</h4>
                            </div>
                            <ul class="colla-apps ">
                                <li><a href="https://play.google.com/store?hl=en " title=" "><i class="fa fa-android "></i>android</a></li>
                                <li><a href="https://www.apple.com/lae/ios/app-store/ " title=" "><i class="ti-apple "></i>IOS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer -->
        <div class="bottombar ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-3 ">
                        <span class="copyright "><a target="_blank ">© Copyright, Fábio Antunes</a></span>

                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/main.min.js ' %} "></script>
        <script src="{% static 'js/script.js ' %} "></script>
        <script src="{% static 'js/map-init.js ' %} "></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI "></script>

</body>

</html>